@import 'partials/variables',
        'partials/mixins',
        'partials/functions',
        'partials/layouts',
        'partials/components',
        'partials/base';

#bg_image {
    width: 100%;
    background: url(../images/bgimage.jpg);
    height: 640px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // position: inherit;
    background-blend-mode: multiply;
    background-color: $theme_grey;
} // bg image and color merged for visibility
body {
    font-family: 'Poppins', sans-serif;
}

