/* ========= In nav bar | Start========= */ 
$theme_silver : #f9f9f9;
/* ========= In nav bar | End ========= */ 

/* ====== WEBSITE THEME COLORs | Start ====== */
$theme_pink : #ee534f;
$theme_white : white;
$theme_grey: #666666;

/* ====== WEBSITE THEME COLORs  | End */

/* ====== INDIVISUAL STYLING | Start ======= */

.highlight {
    color: $theme_pink;
}
h1 {
    font-size: 3em;
    color: $theme_white;
}
.description_p {
    font-size: 18px;
    margin-top: -26px;
    color: white; // For visibility
}
/* ====== INDIVISUAL STYLING | End ======= */
img {
    width: 100%;
    height: 100%;
}
p {
    color: $theme_grey;
}
h3 {
    font-family: Poppins;
}
.fab {
    color: $theme_grey;
    padding-right: 10px;
    cursor: pointer;

}
// h2 {
//     color: $theme_white;
//     text-align: center;
//     padding: 50px 30px;
// }

.fa-paper-plane {
    color: $theme_pink;
    padding-right: 10px;
}
.p_space {
    margin-left: 10px;
}
.detail_but {
    height: 30px;
    width: 30px;
    border: $theme_grey 1px solid;
    border-radius: 5px;
}
.white_C {
    color: $theme_white;
}
.port{
    width: 100%;
    height: 100%;
    background-color: grey;
    color: white; 
 }
 .navbar{
     position: fixed;
     width: 100%;
     
 }